<div style="text-align:center;">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="wrapper">
  <div class="left">
    <div class="term">
      <div class="termHeader">
        <h2 class="termTitle">First Term</h2>
      </div>
      <div class='container t1' [dragula]='"bag-courses"' [dragulaModel]="_courselistservice.terms.t1Courses" [attr.data-id]="'t1Courses'">
        <div [ngClass]="[c.prefix == 'spacer' ? 'spacer' : 'course']" *ngFor="let c of _courselistservice.terms.t1Courses">
          <div class="code" >{{c.code}}</div>
          <div class="top2"></div>
          <div class="top3"></div>
          <div class="proctored"><span style="padding: .25em; background-color: rgba(233, 1, 114, .8);" *ngIf="c.proctored">proctored</span></div>
          <div class="title" [ngStyle]="{'font-size':c.name.length < 28 ? '12pt' : '10pt'}">{{c.name}}</div>
          <div class="footLeft"><span *ngIf="c.prerequisites.length != 0">Prerequisite:</span></div>
          <div class="footCenter">{{c.prerequisites}}</div>
          <div class="footRight">{{c.category}}</div>
        </div>
      </div>
    </div>
    <app-term [title]="'Second Term'" [dataModel]="_courselistservice.terms.t2Courses" [modelID]="'t2Courses'"></app-term>
    <app-term [title]="'Third Term'" [dataModel]="_courselistservice.terms.t3Courses" [modelID]="'t3Courses'"></app-term>
    <app-term [title]="'Fourth Term'" [dataModel]="_courselistservice.terms.t4Courses" [modelID]="'t4Courses'"></app-term>
    <app-term [title]="'Fifth Term'" [dataModel]="_courselistservice.terms.t5Courses" [modelID]="'t5Courses'"></app-term>
    <app-term [title]="'Sixth Term'" [dataModel]="_courselistservice.terms.t6Courses" [modelID]="'t6Courses'"></app-term>
    <app-term [title]="'Seventh Term'" [dataModel]="_courselistservice.terms.t7Courses" [modelID]="'t7Courses'"></app-term>
    <app-term [title]="'Eighth Term'" [dataModel]="_courselistservice.terms.t8Courses" [modelID]="'t8Courses'"></app-term>
    <app-term [title]="'Ninth Term'" [dataModel]="_courselistservice.terms.t9Courses" [modelID]="'t9Courses'"></app-term>
    <app-term [title]="'Tenth Term'" [dataModel]="_courselistservice.terms.t10Courses" [modelID]="'t10Courses'"></app-term>
    
  </div>
  <div [dragula]='"bag-courses"' [dragulaModel]="_courselistservice.terms.Courses" [attr.data-id]="'Courses'">
      <div [ngClass]="[c.prefix == 'spacer' ? 'spacer' : 'course']" *ngFor="let c of _courselistservice.terms.Courses">
          <div class="code" >{{c.code}}</div>
          <div class="top2"></div>
          <div class="top3"></div>
          <div class="proctored"><span style="padding: .25em; background-color: rgba(233, 1, 114, .8);" *ngIf="c.proctored">proctored</span></div>
          <div class="title" [ngStyle]="{'font-size':c.name.length < 28 ? '12pt' : '10pt'}">{{c.name}}</div>
          <div class="footLeft"><span *ngIf="c.prerequisites.length != 0">Prerequisite:</span></div>
          <div class="footCenter">{{c.prerequisites}}</div>
          <div class="footRight">{{c.category}}</div>
      </div>
  </div>
</div>