<div style="text-align:center;">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="wrapper">
  <div  [dragula]='"bag-schedule"'>
    Hello
  </div>
  <div  [dragula]='"bag-courses"'>
      <div class="course" *ngFor="let c of courses">
          <div class="code">{{c.code}}</div>
          <div class="top2"></div>
          <div class="top3"></div>
          <div class="proctored"><span *ngIf="c.proctored">proctored</span></div>
          <div class="title" [ngStyle]="{'font-size':c.name.length < 28 ? '14pt' : '12pt'}">{{c.name}}</div>
          <div class="footLeft"><span *ngIf="c.prerequisites.length != 0">Prerequisite:</span></div>
          <div class="footCenter">{{c.prerequisites}}</div>
          <div class="footRight">{{c.category}}</div>
      </div>
  </div>
</div>