<div style="text-align:center;">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="wrapper">
  <div class='container' [dragula]='"bag-courses"'>
    <div class="course">hi</div>
    <div class="course">hello</div>
  </div>
  <div class='container' [dragula]='"bag-courses"'>
      <div class="course {{c.category}}" *ngFor="let c of courses">
          <div class="code" >{{c.code}}</div>
          <div class="top2"></div>
          <div class="top3"></div>
          <div class="proctored"><span style="padding: .25em; background-color: rgba(233, 1, 114, .8);" *ngIf="c.proctored">proctored</span></div>
          <div class="title" [ngStyle]="{'font-size':c.name.length < 28 ? '12pt' : '10pt'}">{{c.name}}</div>
          <div class="footLeft"><span *ngIf="c.prerequisites.length != 0">Prerequisite:</span></div>
          <div class="footCenter">{{c.prerequisites}}</div>
          <div class="footRight">{{c.category}}</div>
      </div>
  </div>
</div>