body {
    background-color: rgb(247, 247, 239);
}
.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}
.termHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.termTitle {
    margin: 0px;
}
.spacer {
    width: 350px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .25em;
    margin-bottom: .25em;
    padding-left: .25em;
    padding-right: .25em;
    border: 3px solid rgba(45, 25, 56, .05);
}

.course {
    width: 350px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .25em;
    margin-bottom: .25em;
    padding-left: .25em;
    padding-right: .25em;
    border: 3px solid rgb(45, 25, 56);

    color: #d2d2d2;

    background-color: #4b345d;
    background-image: url("../assets/uopeople-logo-25.png");
    background-position: right;
    background-size: 90px;
    background-repeat: no-repeat;

    display: grid;
    grid-template-areas: 'code top2 top2 top2 top2 top2 top3 proctored'
                         'title title title title title title title title'
                         'footLeft footCenter footCenter footCenter footCenter footCenter footCenter footRight';
    grid-gap: .25em;
    
}
.course:hover {
    cursor: grab;
}
.code {
    grid-area: code;
}
.top2 {
    grid-area: top2;
}
.top3 {
    grid-area: top3;
}
.proctored {
    grid-area: proctored;
    text-align: right;
    font-weight: bold;
    
}
.title {
    grid-area: title;
    padding-left: .5em;
    font-size: 14pt;
    font-weight: bold;
}
.footLeft {
    grid-area: footLeft;
    text-align: right;
    
}
.footCenter {
    grid-area: footCenter;
  
}
.footRight {
    grid-area: footRight;
    text-align: right;

}