<div class="icon-bar">
  <div class="sidebarBlock">
    <div class="blockTitle">Graduation Breakdown:</div>
    <div class="blockContent"></div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Total Credits:</div>
    <div class="blockContent"><span id="tCredits">{{_courseListService.breakdown.totalCredits}}</span>/120</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Foundation:</div>
    <div class="blockContent"><span id="fdnCourses">{{_courseListService.breakdown.foundation}}</span>/3</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Writing:</div>
    <div class="blockContent"><span id="wrtCourses">{{_courseListService.breakdown.writing}}</span>/1</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Values:</div>
    <div class="blockContent"><span id="valCourses">{{_courseListService.breakdown.values}}</span>/1</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Civ Studies:</div>
    <div class="blockContent"><span id="civCourses">{{_courseListService.breakdown.civ}}</span>/1</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle long">Disciplinary Areas of Knowledge:</div>
    <div class="blockContent"><span id="disCourses">{{_courseListService.breakdown.disciplinary}}</span>/5</div>
    <hr />
    <div class="sidebarBlock subcat">
      <div class="blockTitle">HUM:</div>
      <div class="blockContent"><span id="humCourses">{{_courseListService.breakdown.humanities}}</span>/2</div>
    </div>
    <div class="sidebarBlock subcat">
      <div class="blockTitle">SBS:</div>
      <div class="blockContent"><span id="sbsCourses">{{_courseListService.breakdown.sbs}}</span>/2</div>
    </div>
    <div class="sidebarBlock subcat">
      <div class="blockTitle">NST:</div>
      <div class="blockContent"><span id="nstCourses">{{_courseListService.breakdown.nst}}</span>/1</div>
    </div>
  </div>
</div>
