<div class="icon-bar">
  <div class="sidebarBlock">
    <div class="blockTitle">Graduation Breakdown:</div>
    <div class="blockContent"></div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Total Credits:</div>
    <div class="blockContent"><span id="tCredits">0</span>/120</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Foundation:</div>
    <div class="blockContent"><span id="fdnCourses">0</span>/3</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Writing:</div>
    <div class="blockContent"><span id="wrtCourses">0</span>/1</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Values:</div>
    <div class="blockContent"><span id="valCourses">0</span>>/1</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Civ Studies:</div>
    <div class="blockContent"><span id="civCourses">0</span>/1</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Disciplinary:</div>
    <div class="blockContent"><span id="disCourses">0</span>/5</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">Humanities:</div>
    <div class="blockContent"><span id="humCourses">0</span>/2</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">SBS:</div>
    <div class="blockContent"><span id="sbsCourses">0</span>/1</div>
  </div>
  <div class="sidebarBlock">
    <div class="blockTitle">NST:</div>
    <div class="blockContent"><span id="nstCourses">0</span>/1</div>
  </div>
</div>
